* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Common styles */
.container {
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
}

.btn-success {
    background-color: rgba(70, 145, 101, 1);
}

.btn-outline {
    border: 1px solid rgba(255, 255, 255, 1);
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.9;
}