* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Additional classes */
.text-center {
    text-align: center;
}

.text-green {
    color: rgba(70, 145, 101, 1);
}

.text-black {
    color: rgba(0, 25, 49, 1);
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

/* Common styles */
.container {
    max-width: 1360px;
    margin: 0 auto;
}

.logo {
    cursor: pointer;
}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.btn-success {
    border: 1px solid rgba(70, 145, 101, 1);
    background-color: rgba(70, 145, 101, 1);
}

.btn-success:hover {
    color: rgba(70, 145, 101, 1);
    border: 1px solid rgba(70, 145, 101, 1);
    background: none;
}

.btn-outline {
    border: 1px solid rgba(255, 255, 255, 1);
    background: none;
}

.tag {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.notes-section,
.solution-section,
.early-access-section,
footer {
    margin-top: 120px;
}

.section-heading {
    color: rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
}

.text-secondary {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.9;
}

/* Hero section */
.hero-section {
    background-image: url(../assets/hero-bg.png);
    max-width: 2042px;
    max-width: 1363px;
    background-repeat: no-repeat;
}

/* Notes section */
.note-cards-area {
    margin-top: 44px;
    display: flex;
    gap: 24px;
}

.note-cards-area .note-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.06);
}

.note-card img {
    background-color: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50px;
}

.note-card h2 {
    color: rgba(0, 25, 49, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

/* Solution section */
.solution-section {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: flex-start;
}

.tags-area {
    margin-top: 40px;
}

.tags-area .tag-line {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 6px;
}

/* Early access section */
.early-access-section {
    background-color: rgba(247, 246, 242, 1);
    border-radius: 12px;
    padding: 80px 40px;
}

.early-access-section div {
    display: flex;
    justify-content: center;
}

.section-heading-sm {
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}