* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Additional classes */
.text-center {
    text-align: center;
}

.text-green {
    color: rgba(70, 145, 101, 1);
}

.text-black {
    color: rgba(0, 25, 49, 1);
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

/* Common styles */
.container {
    max-width: 1360px;
    margin: 0 auto;
}

.logo {
    cursor: pointer;
}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-success {
    border: 1px solid rgba(70, 145, 101, 1);
    background-color: rgba(70, 145, 101, 1);
}

.btn-success:hover {
    color: rgba(70, 145, 101, 1);
    border: 1px solid rgba(70, 145, 101, 1);
    background: none;
}

.btn-outline {
    border: 1px solid rgba(255, 255, 255, 1);
    background: none;
}

.btn-outline:hover {
    color: rgba(0, 25, 49, 1);
    border: 1px solid rgba(0, 25, 49, 1);
    background-color: rgba(255, 255, 255, 1);
}

.tag {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.notes-section,
.solution-section,
.early-access-section,
footer {
    margin-top: 120px;
}

.section-heading {
    color: rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
}

.text-secondary {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.9;
}

/* Hero section */
.hero-section {
    background: linear-gradient(rgba(0, 25, 49, 0.8), rgba(0, 25, 49, 0.2)), url(../assets/hero-bg.png);
    width: 100%;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section .higlight-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: none;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 1);
    padding: 8px 20px;
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    cursor: pointer;
    margin-bottom: 16px;
}

.hero-section .higlight-button button:hover {
    text-decoration: underline;
}

.hero-section .text-theam {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
    margin-bottom: 16px;
    opacity: 0.9;
}

.text-theam-white {
    color: rgba(255, 255, 255, 1);
}

.text-theam-green {
    color: rgba(48, 184, 104, 1);
}

.hero-section .text-theam-subtitle {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.hero-section .buttons {
    display: flex;
    gap: 16px;
}

/* Notes section */
.note-cards-area {
    margin-top: 44px;
    display: flex;
    gap: 24px;
}

.note-cards-area .note-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.06);
}

.note-card img {
    background-color: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50px;
}

.note-card h2 {
    color: rgba(0, 25, 49, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

/* Solution section */
.solution-section {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: flex-start;
}

.tags-area {
    margin-top: 40px;
}

.tags-area .tag-line {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 6px;
}

/* Early access section */
.early-access-section {
    background-color: rgba(247, 246, 242, 1);
    border-radius: 12px;
    padding: 80px 40px;
}

.btn-center {
    display: inline-block;
    text-align: center;
}

.section-heading-sm {
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}

/* Footer section */
footer {
    background-color: rgba(0, 25, 49, 1);
    padding: 120px 120px 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

footer .social {
    color: rgba(255, 255, 255, 1);
}

.social-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

.social .icons {
    display: flex;
    gap: 16px;
}

.icons i {
    cursor: pointer;
}

footer hr {
    color: rgba(229, 231, 235, 1);
    opacity: 0.2;
    margin-bottom: 30px;
}

.text-copyright {
    color: rgba(250, 250, 250, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}